/* The popup form - hidden by default */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');
html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
    margin: 0;
    padding: 0;
}

.alert_login{
    text-align: center;
}
.alert_success{
    text-align: center;
}
#idDetallesExam{
    margin-right: 5px;
}
#buttonHome{
    margin-top: 5px;
}
body {
    background-color: #345 !important;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #0009, transparent);
    color: #eee;
    /*font-family: 'Lato', sans-serif;*/
    font-size: 100% !important;
    padding: 0 20px;
    box-sizing: border-box;
}
#logoCentral{
    color: #fff;
}

.content {
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    color: #666;
    font-size: 1.6em;
    line-height: 1.4em;
    margin: 20px auto;
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}
.content ul {
    margin: .5em 2em;
    padding: 0;
}


/* Appearance */
.links {
    background-color: #123;
    background-image: linear-gradient(to bottom, #0003, transparent);
    border-bottom: 1px solid #0003;
    box-shadow: 0 0 32px #0003;
    font-size: 2em;
    font-weight: 300;
}
.links > a {
    color: #9ab;
    padding: .75em;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
}
.links > a:hover {
    background: #ffffff06;
    color: #adf;
}
.links > .line {
    background: #68a;
    height: 1px;
    pointer-events: none;
}

/* The Magic */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
}
.links > .line {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    bottom: 0;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    --index: 0;
}
.links > a:hover ~ .line {
    opacity: 1;
}

.links > a:nth-of-type(1):hover ~ .line { --index: 1; }
.links > a:nth-of-type(2):hover ~ .line { --index: 2; }
.links > a:nth-of-type(3):hover ~ .line { --index: 3; }
.links > a:nth-of-type(4):hover ~ .line { --index: 4; }
.links > a:nth-of-type(5):hover ~ .line { --index: 5; }
.links > a:nth-of-type(6):hover ~ .line { --index: 6; }
.links > a:nth-of-type(7):hover ~ .line { --index: 7; }
.links > a:nth-of-type(8):hover ~ .line { --index: 8; }
.links > a:nth-of-type(9):hover ~ .line { --index: 9; }
.links > a:nth-of-type(10):hover ~ .line { --index: 10; }
.links > a:last-of-type:hover ~ .line { --index: var(--items); }






.form-popup {
  display: none;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    color: #000;
    line-height: 1.4em;
    margin: 20px auto;
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}
h1.black {
    color: black;
    font-weight: bold;
}

th:hover {
	background-color: rgb(234, 234, 234);
}

#infoParaEditar{
	color:white;
}

#infoPeticion {
    opacity: 1;
    overflow: auto;
    padding-top: 10%;
}

#logoCentral {
	color: black;
}
#logoCentral:hover {
	text-decoration: none;
}
.table-wrapper-scroll-y {
display: block;
max-height: 30%;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.preguntaExamen {
    border-width: 1px;
    border-color: grey;
    margin-bottom: 2px;
    margin-top: 2px;
    border-style: solid;
}

#boton_modalBorrar .fa-trash-alt{
    color: red;
}
#boton_modalBorrar .fa-trash-alt:hover {
    color: #c40707;
    cursor: pointer;
}
#boton_modalAñadir {
	text-decoration: none;
	cursor: pointer;
}

.divTema {
    font-size: 20px;
    font-weight: bold;
}
#boton_aniadirPregunta {
    text-decoration: none;
}

#modal_borrarExamen_body {
    text-align: center;
}

div .puntosPregunta {
    border-width: 0.5px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 5px;
    text-align: center;
    width: 6%;
    margin-left: 15px;
}

.botonesPregunta {
    margin-bottom: 15px;
}

#boton-eliminar {
    color: red;
    font-size: 25px;
    margin-left: 2px;
    text-decoration: none;
}
#boton-eliminar:hover {
    color: #ff3a3a;
    font-size: 25px;
    margin-left: 2px;
    text-decoration: none;
}

.cabeceraTabla,
.filaAsignaturasProfesor,
.filaGestionarAsigAdmin {
	cursor:pointer;
    color: #000000;
}
table {
    color: #000000;
}
.modal-title {
    color: #000000;
}
.badge {
    font-size: 90% !important;
}
#info_aniadirPreg_vacio,
#info_aniadirPreg_limite,
#info_aniadirPreg_todas {
    font-size: 150% !important;
}

.masExamenes,
.masExamenes:hover {
	text-decoration: none;
}

#container-panel-control {
    padding-right: 0px;
}
.filaPanelControl {
    width: 100%;
	padding-left: 15px;
}
.filaPeticionesRegistro {
    padding-left: 15px;
    width: 100%;
}
#recargarPanelControl {
	padding-top: 1%;
}
#recargarPanelControl a {
	text-decoration: none;
	cursor: pointer;
}
.peticionPanelControlImpar {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-left: 0px;
}
.peticionPanelControlPar {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.05);
}

.centrar {
	text-align: center;
}
.derecha {
	text-align: right;
}

#containerPuntosTotal span {
    font-size: 20px;
}
#nombreExamen {
    font-size: 16px;
}
#crearExamenContainer hr {
    background-color: #ffffff;
}
#crearExamenContainer .fa-arrow-left {
    padding-top: 12%;
    font-size: 20px;
}
#crearExamenContainer .fa-bars {
    font-size: 20px;
}
#crearExamenContainer .tituloPreguntas {
    font-size: 16px;
}
#crearExamenContainer .cuerpoPreguntas {
    font-size: 18px;
}
#crearExamenContainer .botonesPregunta {
    margin-top: 5px;
    font-size: 16px;
}

.modal-backdrop {
     background-color: rgba(0,0,0,0.5) !important;
}

.modal-backdrop.fade {
    opacity: 1 !important;
}

label {
    padding-right: 5px;
}

.botonPerfil{
  padding: 1% 0;
}

.mensajePerfil{
  padding: 1% 0;
}

.rowPerfil {

	padding: 0.5% 0;
}

.inputClave{
  margin: 2%;
}

#boton_cambiarClave{
  margin: 2%;
}
