/* The popup form - hidden by default */
.form-popup {
  display: none;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}

th:hover {
	background-color: rgb(234, 234, 234);
}

#infoParaEditar{
	color:red;
}
#header{
	background-color:grey;
}

#logoCentral {
	color: black;
}
#logoCentral:hover {
	text-decoration: none;
}

/*
.boton_pregunta {
	border-width: thin;
	border-right-style: ridge;
	color: red;
}*/
/*#boton_pregunta{
	border-width: thin;
	border-right-style: ridge;
}*/




/*----------------------------------------CSS para el header----------------------------------------------------*/
